* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    background-color: gray;
}
.main-div {
    border-radius: 5px;
    border: 1px solid black;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}

.nav-section {
    /* border-radius: 5px; */
    /* border: solid 1px black; */
    background-color: #222831;
    color: white;
    padding: 10px;
}
.nav-section div {
    padding: 5px;
    display: flex;
    gap: 5px;
    font-size: 1.1rem;
}
.nav-section div span {
    margin-left: auto;
}

.logo-div {
    margin-bottom: 30px;
}

.nav-task {
    margin-bottom: 10px;
}

.nav-task:hover {
    background-color: #3a4452;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar-div {
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.search-bar-div input {
    border: none;
    font-size: 1rem;
}

.search-bar-div input:focus {
    border: none;
    outline: none;
}

.separation-line {
    border-bottom: solid 1px white;
    margin-bottom: 30px;
}

.content-section {
    background-color: #0c0c0c;
    flex: 2;
}
